@import "tailwindcss";

@theme inline {
  --color-primary: #2563EB;
  --color-background: #FFFFFF;
  --color-secondary-background: #F9FAFB;
  --color-border: #E5E7EB;
  --color-text-primary: #0F172A;
  --color-text-secondary: #64748B;
  
  --font-inter: var(--font-inter);
}

:root {
  background-color: var(--color-background);
  color: var(--color-text-primary);
}

body {
  margin: 0;
  padding: 0;
}
